* {
    margin: 0;
    padding: 0;
}

/* header */

.navbar-brand > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

input.form-control {
    border-radius: 0;
}

.hero-img {
    background: url(./img/brown-sofa.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-width: 100%;
    min-height: 90vh;
}

.title {
    flex-direction: column;
}

div.title h1{
    color: #0A8AFF;
}

div.title p {
    color: #0A8AFF;
}

/* Main */

div.card {
    height: 100%;
    width: 100%;
}

div.card a {
    height: 90%;
    width: 100%;
}

div.card img{
    width: 100%;
    height: 100%;
}

button.btn {
    border-radius: 0;
}

button.dropdown-toggle {
    height: 40px;
    width: 90px;
}

/* footer */
.about {
    background: #8B4200;
}