* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */

img[src="./img/logo.png"] {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

input.form-control {
    border-radius: 0;
}

.hero-img {
    background: url(./img/brown-sofa.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-width: 100%;
    min-height: 90vh;
}

.title {
    flex-direction: column;
}

div.title h1{
    color: #0A8AFF;
    text-shadow: 1px 1px black;
}

div.title h5 {
    color: #0A8AFF;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 1px 1px black;
}
/* Main */
div.col-lg-4.col-md-6.col-12 {
    padding: 10px;
}

div.card {
    height: 100%;
    width: 100%;
}

div.card a {
    height: 90%;
    width: 100%;
}

div.card img{
    width: 100%;
    height: 100%;
}

button.btn {
    border-radius: 0;
}

button.dropdown-toggle {
    height: 40px;
    width: 90px;
}

/* footer */
div.about {
    background: #3B1C00;
    color: white;
    text-align: justify;
    margin-top: 50px;
}

div.about .col-md-4 img {
    width: 100%;
    height: 100%;
}

div.quick-link {
    margin-top: 50px;
}

div.quick-link li {
    margin-bottom: 5px;
}

div.quick-link p > a {
    text-decoration: none;
}

.quick-link li > a:link, li > a:visited {
    color: black;
    text-decoration: none;
}

div.contact {
    margin-top: 20px;
}

div.contact div {
    padding: 0 25px;
}

.copyright {
    background: #3B1C00;
    color: white;
    text-align: center;
    padding: auto;
    margin-top: 10px;
}