* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */
nav div.container-fluid {
    background: radial-gradient(circle farthest-side at 95% 10%, #503D22cf, #503D22);
}

img[src="../img/logo.png"] {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

input.form-control {
    border-radius: 0;
}

button.btn {
    border-radius: 0;
}

#navbarSupportedContent li > a {
    color: white;
}

/* Main */

main {
    background: #223550;
    color: white;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
main h1, main h5 {
    text-align: center;
}

textarea.form-control {
    border-radius: 0;
}

/* footer */

/* Footer */
div.quick-link {
    background: linear-gradient(#503D22, #503D22af);
    color: white;
}

div.quick-link ul {
    padding: 0;
}

div.quick-link li {
    margin-bottom: 5px;
}

div.quick-link p > a {
    text-decoration: none;
}

div.quick-link p > a:link, p > a:visited {
    color: blue;
}

.quick-link li > a:link, li > a:visited {
    color: white;
    text-decoration: none;
}

div.contact {
    background: linear-gradient(#503D22af, #503D22);
    color: white;
}

div.contact div {
    padding: 0 25px;
}

.copyright {
    background: #503D22;
    color: white;
    text-align: center;
    padding: auto;
    margin-top: 10px;
}