* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */
nav div.container-fluid {
    background: radial-gradient(circle farthest-side at 95% 10%, #503D22cf, #503D22);
}

img[src="../img/logo.png"] {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

input.form-control {
    border-radius: 0;
}

button.btn {
    border-radius: 0;
}

#navbarSupportedContent li > a {
    color: white;
}

.hero-img {
    background: rgba(0,0,0,0.75)url(../img/shop-all-hero.jpg);
    background-size: cover;
    background-position: center;
    min-width: 50%;
    min-height: 40vh;
    background-blend-mode: darken;
}

div.hero-img h1{
    color: #0A8AFF;
    text-shadow: 1px 1px black;
    font-family: 'Times New Roman', Times, serif;
}

div.hero-img h5 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 1px 1px black;
}

/* Main */

/* Main */
main {
    background: #223550;
    color: white;
}

div.col-lg-4.col-md-6.col-12 {
    padding: 20px;
    height: 360px;
    max-width: 100%;
}

div.card {
    height: 100%;
    width: 100%;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    border-start-start-radius: 10%;
    border-start-end-radius: 10%;
}

div.card a {
    height: 80%;
    width: 100%;
}

div.card img{
    width: 100%;
    height: 100%;
}

button.dropdown-toggle {
    height: 40px;
    width: 90px;
}

/* Footer */
div.quick-link {
    background: linear-gradient(#503D22, #503D22af);
    color: white;
}

div.quick-link ul {
    padding: 0;
}

div.quick-link li {
    margin-bottom: 5px;
}

div.quick-link p > a {
    text-decoration: none;
}

div.quick-link p > a:link, p > a:visited {
    color: blue;
}

.quick-link li > a:link, li > a:visited {
    color: white;
    text-decoration: none;
}

div.contact {
    background: linear-gradient(#503D22af, #503D22);
    color: white;
}

div.contact div {
    padding: 0 25px;
}

.copyright {
    background: #503D22;
    color: white;
    text-align: center;
    padding: auto;
    margin-top: 10px;
}